[2015-08-11 15:33] sinc59 opened #1 "Unable to set the web application class loader property [clearReferencesStatic] to [false] as the property does not exist."
Hi Jonathan,
when i launch the docker-compose, it doesn't work (sorry, I'm very primary with java language).
Here, you can find the output:

$ /usr/local/bin/docker-compose -f docker-compose.yml up

Recreating dockerice_ice_1...
Recreating dockerice_nginx_1...
Attaching to dockerice_ice_1, dockerice_nginx_1
ice_1   | | Loading Grails 2.4.4
ice_1   | | Configuring classpath
ice_1   | Aug 11, 2015 3

[2015-08-28 00:52] jonbrouse commented on #1
Sorry for the delay... Could you post the ice/assets/ice.properties? Remember to remove your AWS keys.

[2015-09-09 00:55] CpuID opened #2 "Docker image should return correct exit code, based on Java errors etc"
Had a misconfigured IAM role, expected a non-zero exit code (running processor mode under Jenkins, which would detect and email on failure). Returned a zero exit code, ideally this should return non-zero on any Java errors.

Example:

[code]

[2015-09-09 08:33] Micka33 opened #3 "Awesome"
It works, right out of the box !
Thanks !

[2015-09-09 08:33] #3 closed

[2015-11-18 18:26] vsouza opened #4 "Server running. Browse to http://localhost:8080/ice don't works"
I can't open this url.

[code]

[2015-11-23 21:06] jonbrouse commented on #4
As per the readme:

[2015-11-23 21:06] jonbrouse commented on #4
From the read me:

[2015-11-23 21:07] jonbrouse commented on #4
From the read me:

[2015-11-23 21:30] vsouza commented on #4
:+1:

[2015-11-23 21:30] #4 closed

[2016-01-18 00:26] lbardelli opened #5 "First Access"
Hi, Jonathan!

I use AWS benstalk and everting on deploy was good. How can I access the application now ?

Tanks in advanced!

2016-01-17 23:56:18 UTC+0000 	INFO 	Environment update completed successfully.
2016-01-17 23:56:18 UTC+0000 	INFO 	New application version was deployed to running EC2 instances.
2016-01-17 23:54:51 UTC+0000 	INFO 	Docker container ea2139345d9e is running aws_beanstalk/curr

[2016-01-18 09:34] jonbrouse commented on #5
Hi there. Ensure you're security groups allow traffic on port 80. From the readme:

"After following these directions you should be able to connect to your server's IP address or FQDN over port 80 and access the Ice application."

[2016-01-18 14:57] lbardelli commented on #5
I test de current policy, but whem I try access I just receive these message:
![image](https://cloud.githubusercontent.com/assets/16687701/12394432/b45561a6-bdf3-11e5-817a-c1bce5591512.png)

[2016-01-19 01:20] jonbrouse commented on #5
Unfortunately I've only work with CloudFormations and have no Beanstalk experience. It looks like eithr the Kibana process isn't coming up or the Nginx container can't reach it. Do you know if Beanstalk supports launching docker containers from a docker-compose files?

[2016-01-19 01:28] lbardelli commented on #5
... I think beanstalk doesn`t support docker-compose, only Dockerfile...
Please, can you lead me through cloudformation to do this with docker-ice ?
Thanks again!

2016-01-19 1:20 GMT+00:00 Jonathon Brouse <notifications@github.com>:

[2016-01-21 16:30] jonbrouse commented on #5
I would recommend just spinning up an EC2 instance, installing Docker and Docker-Compose. At that point you can pull the repo, create the config file and issue a `docker-compose run`.

[2016-02-01 18:54] lbardelli commented on #5
Hi, now docker starts, and I can access the URL, but doesn`t have any information :(
Here is my ice.properties  :

# whether or not to start processor
ice.processor=true

# whether or not to start reader/UI
ice.reader=true

# whether or not to start reservation capacity poller
ice.reservationCapacityPoller=false

# default reservation period, possible values are oneyear, threeyear
ice.reservationP

[2016-02-25 00:13] pleegor opened #6 "dockerice_ice_1 exited with code 0"
Hi,

First of all great work on docker-ice!

I am trying to setup container however, when I ran `docker-compose up` I got `dockerice_ice_1 exited with code 0` when I as looking more into the output I found the following error:

`ice_1   | 2016-02-25 00:07:03,793 [localhost-startStop-1] INFO  BootStrap  - Starting ice...
ice_1   | | Error com.amazonaws.services.s3.model.AmazonS3Exception: The reque

[2016-02-25 10:36] JulienChampseix opened #7 "Trouble during launch docker-compose - basic.BasicReservationService"
Hi Team,

When i run "docker-compose up" using an AWS IAM access having full access i'm getting this error :

[code]

Find bellow my config bellow :

ice.processor=true
ice.reader=true
ice.reservationCapacityPoller=false
ice.reservationPeriod=threeyear
ice.reservationUtilization=MEDIUM
ice.highstockUrl=http://code.highcharts.com/stock/highstock.js
ice.urlPrefix=
ice.fromEmail=
ice.ondemandCostAler

[2016-02-25 10:46] nfonrose commented on #7
Hello Julien,

This is strange since the Netflix Ice team has just merged the PR that
fixes this problem inside the Ice repo.
Are your sure that the docker composition is pulling the latest Ice release
?

Nicolas

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
http://www.teevity.com - Cloud Costs Analytics powered by NetflixOSS
twitter - @nfonrose / @teevity

On Thu, Feb 25, 2016 at 11:3

[2016-02-25 14:25] JulienChampseix commented on #7
Find bellow my docker-compose.yml:
ice:
  image: jonbrouse/ice:latest
  command: |
    -Djava.net.preferIPv4Stack=true
    -Djava.net.preferIPv4Addresses
    -Dice.s3AccessKeyId=XXXXXX
    -Dice.s3SecretKey=XXXXXXX
    run-app
  volumes:
    - ./ice/assets/ice.properties:/opt/ice/src/java/ice.properties
nginx:
  image: jonbrouse/ice-proxy:latest
  ports:
    - "80:80"
  links:
    - ice:ice

[2016-02-25 14:59] nfonrose commented on #7
On Thu, Feb 25, 2016 at 3:25 PM, Julien CHAMPSEIX <notifications@github.com>
wrote:

That's probably the issue. If this docker image hasn't been updated to the
latest Ice commit (from a few days ago), then your missing the simple fix
that adds the new zone (ap-southeast-2c).

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
http://www.teevity.com - Cloud Costs Analytics built on NetflixOSS

[2016-02-25 15:17] JulienChampseix commented on #7
@jonbrouse can you update the docker image ?

[2016-02-25 22:07] jonbrouse commented on #7
Hey, I just kicked off a new build a created a 2.0 tag as well.

[2016-02-25 22:13] jonbrouse commented on #6
Looks like you might not have the s3 bucket configured correctly.

[2016-02-26 15:34] JulienChampseix commented on #7
Perfect, that fixed the issue ! Thanks @jonbrouse

[2016-02-26 15:47] JulienChampseix commented on #7
@jonbrouse An other issue running _docker-compose up_ appear using your latest build :

ice_1   | | Error 2016-02-26 15:20:04,698 [localhost-startStop-1] ERROR basic.BasicReservationService  - failed to poll reservation prices
ice_1   | Message: /mnt/ice_processor/reservation_prices.threeyear.MEDIUM (No such file or directory)

The exist /mnt/ice_processor/ but nothing inside.

[2016-02-26 16:28] nfonrose commented on #7
Hey Julien,

This is not related to [docker-ice] but to Ice itself. Wrong repo for the
question :-)

Nicolas

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
http://www.teevity.com - Cloud Costs Analytics built on NetflixOSS
twitter - @nfonrose / @teevity

On Fri, Feb 26, 2016 at 4:47 PM, Julien CHAMPSEIX <notifications@github.com>
wrote:

[2016-03-03 07:34] khoi-thinh opened #8 "Is there any thing wrong with the tutorial?"
Hi jonbrouse!
I just found out about this tools by chances and i just want to give it a try.
But when executing this command,
cp docker-compose-template.yml docker-compose.yml. It said: "cp: cannot stat ‘docker-compose-template.yml’: No such file or directory"
And when it comes to docker-compose.yml, i tried to create one file but it didn't work when executing.
It said:
ERROR: yaml.scanner.Scanner

[2016-03-03 07:38] pl33g0r commented on #8
dod you run `git clone <repo url>` before you started copying files?

[2016-03-03 08:10] thinhduckhoi commented on #8
Thank you so much for a quick reply.
I got through it.
http://www.upsieutoc.com/images/2016/03/03/build-error.jpg
But i don't know if this was error or not.
Could you please take a look at it and help me out?

[2016-03-03 12:36] jonbrouse commented on #8
From the README

[2016-03-03 12:36] jonbrouse commented on #8
Also, from your dump:

`There is insufficient memory for the Java Runtime Environment to continue.`

[2016-03-03 12:40] jonbrouse commented on #7
Thank you for the guidance @nfonrose

@JulienChampseix I'm going to close this issue.

[2016-03-03 12:40] #7 closed

[2016-03-03 12:41] jonbrouse commented on #6
Are you still having issues with this? I'm going to close it since I haven't heard back in a week.

[2016-03-03 13:07] thinhduckhoi commented on #8
So how to fix this?
`There is insufficient memory for the Java Runtime Environment to continue.`
I was testing this using AWS Instance EC2 (t2.micro with 1gb ram and 20gb disk).

[2016-03-03 15:14] pl33g0r commented on #6
I should have an update later today...

[2016-03-03 19:21] pl33g0r commented on #6
@jonbrouse

Can you please keep this issue open (sorry it slipped out of my hands)? I think I fixed s3 issue by reconfiguring bucket; however I got a new set of errors...
`ice_1   | ^    745 | run . . . . . . . . . . . . . .  in java.lang.Thread
ice_1   | | Error java.lang.RuntimeException: failed to poll reservation prices for null
ice_1   | | Error 	at com.netflix.ice.basic.BasicReservationServi

[2016-03-03 20:02] jonbrouse commented on #6
No problem keeping the issue open. Could you supply your config file with your aws keys removed?

[2016-03-03 21:25] pl33g0r commented on #6
this is what I have:
`
ice:
  image: jonbrouse/ice:latest
  command: |
    -Djava.net.preferIPv4Stack=true
    -Djava.net.preferIPv4Addresses
    -Dice.s3AccessKeyId="accesskey"
    -Dice.s3SecretKey="sercet_key"
    run-app
  volumes:
    - ./ice/assets/ice.properties:/opt/ice/src/java/ice.properties
nginx:
  image: jonbrouse/ice-proxy:latest
  ports:
    - "80:80"
  links:
    - ice:ice

[2016-03-03 21:36] jonbrouse commented on #6
okay, how about your `./ice/assets/ice.properties`

[2016-03-03 21:41] pl33g0r commented on #6
https://gist.github.com/pl33g0r/5025717902153a21addc

[2016-03-08 09:21] khoi-thinh opened #9 "I got stuck when starting container"
Hi Jonbrouse!
So last time when i tested this ice docker using instance EC2 with 1GB ram, seems like it was out of memory.
So this time i tried using another server featuring CentOS 7.2, 8GB ram and 30GB Hard-disk (this was cloud computing, noit physical )
Then i followed the tutorial smoothly until issuing the command "docker-compose up".
This time the error was not about "memory" but something r

[2016-03-09 03:52] thinhduckhoi commented on #1
I got the same error and couldn't figure out how to fix it.

[2016-03-10 23:06] hasnickt opened #10 "No Zone for ap-southeast-2c"
Error 2016-03-10 23:00:15,619 [localhost-startStop-1] ERROR basic.BasicReservationService  - No Zone for ap-southeast-2c

I see there is a workaround for this fix by adding the zone but I can't open the container to make the adjustment.

[2016-04-06 23:26] SMR39 opened #11 "Ignoring files like #-aws-billing-detailed-line-items-with-resources-and-tags-year-month.csv.zip"
Hi,

I don't understand why the application ignores the files with resources and tags and only process the files which are like "aws-billing-detailed-line-items-year-month.csv.zip".

The breakdown tab is not displayed in the ice reader although I gave the correct tag `user:name`
Is this because it couldnt process the files with tags and resources ?  The billing file has the tag in the header as se

[2016-04-07 18:31] pexaorj commented on #6
I Got the same error, reconfigure all my s3 bucket and still have this error:

ice_1   | 2016-04-07 15:31:24,234 [localhost-startStop-1] INFO  BootStrap  - Starting ice...
ice_1   | | Error com.amazonaws.services.s3.model.AmazonS3Exception: The AWS Access Key Id you provided does not exist in our records. (Service: Amazon S3; Status Code: 403; Error Code: InvalidAccessKeyId; Request ID: DAE952C11F

[2016-04-07 18:35] pexaorj opened #12 "Improvements"
Could you can add to your code of "docker-compose.yml" template

 -Duser.timezone=<SET YOUR TIMEZONE HERE>
I´m using gmt-3 to Brazil

I take some time to find this option, i think that can help some other peoples :+1:

[2016-04-08 01:56] jonbrouse commented on #6
@pexaorj check your aws key

[code]

[2016-04-08 01:58] jonbrouse commented on #6
@pl33g0r

[2016-04-08 13:55] pexaorj commented on #6
Hello @jonbrouse, Its sounds very strange, because when I remove that docker container and Install ice from source code, I use the same key and all works.
So I think that the problem is not my key, but another thing.

by the way, thaks a lot for the help :)

[2016-05-12 17:42] CosmicQ opened #14 "parseDateTime in org.joda.time.format.DateTimeFormatter"
I'm having a problem when accessing Ice, none of the graphs come up any more.  The docker logs only show this error at the time of access:

[code]

Any ideas?  I didn't change anything about the config.  This was just after I rebooted the host.

[2016-05-16 19:42] g0ddard commented on #14
I see the same.  I've tried it in versions 2.0, 2.1, and current.  No data is being displayed and the only error is the following:
ice_1    | | Error 2016-05-16 18:18:30,238 [http-nio-8080-exec-9] ERROR errors.GrailsExceptionResolver  - IllegalArgumentException occurred when processing request: [POST] /ice/dashboard/getData
ice_1    | Invalid format: "". Stacktrace follows:
ice_1    | Message: Inv

[2016-05-16 20:33] jonbrouse commented on #12
Sorry for the delay. I've added `-Duser.timezone=<Your Timezone ie America/New_York>` to the compose file.

[2016-05-16 20:33] #12 closed

[2016-05-16 20:34] jonbrouse commented on #14
Hmm. Is your timezone set? I've added `-Duser.timezone=<Your Timezone ie America/New_York>` to the docker-compose file. It might be worth a shot setting your timezone.

[2016-05-16 21:29] g0ddard commented on #14
Same result.  The problem is this WAS working last week in our non-production configuration and I discovered the problem when implementing in production.  And now, it's not working in non-production either (though I didn't touch that at all).

[2016-05-18 17:21] mpodber1971 opened #15 "docker-compose up fail at startup"
I get the following error when running docker-compose up

ice_1    | | Error 2016-05-18 13:02:32,199 [localhost-startStop-1] ERROR BootStrap  - Startup failed
ice_1    | Message: failed to poll reservation prices for /home/centos/docker-ice/ice_processor/reservation_prices.threeyear.HEAVY (No such file or directory)
ice_1    |     Line | Method
ice_1    | ->>  110 | init

[2016-05-18 18:58] mpodber1971 opened #16 "docker-compose failing on new instance types - https://github.com/Netflix/ice/issues/125"
can a patch be created to handle this?

[2016-05-18 19:02] mpodber1971 commented on #15
better issue syntax provided

[2016-05-18 19:02] #15 closed

[2016-05-18 19:03] mpodber1971 commented on #16
error message:

ice_1    | | Error 2016-05-18 14:49:26,180 [localhost-startStop-1] ERROR BootStrap  - Startup failed
ice_1    | Message: failed to poll reservation prices for /home/centos/docker-ice/ice_processor/reservation_prices.threeyear.MEDIUM (No such file or directory)

[2016-05-20 18:07] CosmicQ commented on #14
When the container starts, one of the first things it does is fetches some time xml file.

`ice_1   | | Loading Grails 2.4.4
ice_1   | | Configuring classpath
ice_1   | | Downloading: joda-time/joda-time/maven-metadata.xml
ice_1   | | Downloading: joda-time/joda-time/maven-metadata.xml
ice_1   | May 20, 2016 6:03:08 PM java.util.prefs.FileSystemPreferences$1 run
ice_1   | INFO: Created user prefer

[2016-05-20 19:53] CosmicQ commented on #14
Fixed.  I noticed that you updated the config file to point to a specific version of high charts.

`+ice.highstockUrl=https://code.highcharts.com/stock/4.2.1/highstock.js
`

Anyone having this problem needs to update their ice.properties file to the versioned url.

[2016-07-05 14:58] mpodber1971 commented on #16
still receiving this error message: Message: /home/centos/docker-ice/ice_processor/reservation_prices.threeyear.LIGHT (No such file or directory)

any update on this?

[2016-08-25 07:13] vinnizworld commented on #10
@hasnickt can you share the workaround, I am also getting the same error ?

[2016-08-29 21:30] puvitsingh commented on #8
you can scale up your aws instance.

What was the answer to the "cannot stat ‘docker-compose-template.yml’:" issue?

[2016-09-07 14:43] jonbrouse commented on #16
Sorry I have not had a chance to work on this repo in a while. I plan trying to get to it soon.

[2016-09-16 11:04] BenjaminDavison commented on #6
(Really late to this)

We managed to get the same error, we hadn't set any value for the output bucket.

[2016-09-16 11:48] gaborveres-planorama opened #17 "docker-compose up failing"
This is a brand new Ubuntu 14.04 on EC2, followed the guid and got

[code]

Seems like Grails(?) pops up an interactive prompt which causes the container start to fail. Any ideas? Thanks!

[2016-09-20 12:19] ankush-grover-3pg commented on #17
Facing the same issue.

docker-compose up
Starting dockerice_ice_1
Starting dockerice_nginx_1
Attaching to dockerice_ice_1, dockerice_nginx_1
ice_1    | | Loading Grails 2.4.4
ice_1    | | Configuring classpath
\
ice_1    | | Running pre-compiled script
ice_1    | | Script 'Timezone' not found, did you mean:
ice_1    |    1) Console
ice_1    |    2) CreateIntegrationTest
ice_1    |    3) SetVersio

[2016-09-20 12:31] ankush-grover-3pg commented on #17
Issue was related to Timezone values not filled in docker-compose.yml file. For ex

-Duser.timezone=Asia/Kolkata

[2017-01-19 05:18] prasenforu opened #18 "URL is opening but nothing is visible"
Nothing is visible

![image](https://cloud.githubusercontent.com/assets/19322497/22094618/a107285c-de34-11e6-9ec6-080016a466fd.png)

[2017-04-14 10:56] minac commented on #17
The problem was exactly what @ankush-grover-3pg said. I would suggest adding this bit to the readme so the issue can be closed.

[2017-04-14 19:19] jonbrouse commented on #18
Ensure that your instance can get to the billing S3 bucket. Let me know if you are still having an issue.

[2017-04-14 19:23] jonbrouse commented on #17
Time zone was added with commit [40135e532156196ca6d5e1cf19b462237b343da7](https://github.com/jonbrouse/docker-ice/commit/40135e532156196ca6d5e1cf19b462237b343da7#diff-3b86333cecc248902992faff6a00fd8a). Today I updated the README.md with [instructions to configure the time zone.](https://github.com/jonbrouse/docker-ice/commit/b35afe5dab07ca4f5cc23d94ca2691bfb60793ce#diff-04c6e90faac2675aa89e2176d2

[2017-04-14 19:23] #17 closed

[2017-06-23 15:35] screechdiesel opened #21 "Pulling down old Teevity/ice version"
Hello. Recently noticed that docker builds are pulling down old java code

Dockerfile:
FROM jonbrouse/ice:latest
....

Results in
-rw-rw-r--. 202 root root 5988 Feb 22  2016 /opt/ice/src/java/com/netflix/ice/tag/Zone.java

Which is a couple versions old and results in runtime errors.

Pulling down https://github.com/Teevity/ice/archive/v1.0.tar.gz instead of
https://github.com/Teevity/ice/archive/

[2017-07-01 07:27] jhaohai commented on #21
update to 1.1 please, this is the latest version
[https://github.com/Teevity/ice/releases/tag/v1.1](https://github.com/Teevity/ice/releases/tag/v1.1)

[2017-07-03 04:15] jonbrouse commented on #21
The build job wasn't updating the ICE version in the Dockerfile on master. This has since been resolved and any new release tags in the Teevity repo will trigger a Travis CI job that will update tie Dockerfile on master in this repo with the new version and create a new release tag. The Docker Hub will pick up the new tag and build a new image.

[2017-07-03 04:15] #21 closed

[2017-07-03 04:16] jonbrouse commented on #18
I'm closing, please open a new issue if you are still having problems.

[2017-07-03 04:16] #18 closed

[2017-07-03 04:18] jonbrouse commented on #9
Cleaning up issues, please open a new ticket if you are still having problems.

[2017-07-03 04:18] #9 closed

[2017-07-03 04:21] jonbrouse commented on #8
If you are still having issues with the template file, please trying reading through the README. If you still are running into a problem, please open a new issue

[2017-07-03 04:21] #8 closed

[2017-07-03 04:22] jonbrouse commented on #16
I think is more related to the Ice application. Teevity has picked it up and could potentially push updates.

[2017-07-03 04:22] #16 closed

[2017-07-03 04:24] jonbrouse commented on #6
This is an older issue. Please create a new issue if you are still having a problem.

[2017-07-03 04:24] #6 closed

[2017-07-18 05:39] utsav2307 opened #22 "Setting java parameters"
How can i set java parameters like Xms and XX:PermSize to avoid the OutOfMemory exception

[2017-07-19 08:41] utsav2307 opened #23 "OutOfMemory Exception"
I am trying to run ice, but continuously getting OutOfMemory Exception.

<img width="857" alt="screen shot 2017-07-19 at 2 04 47 pm" src="https://user-images.githubusercontent.com/22631337/28358176-789a4dd2-6c8b-11e7-9f1a-1f652cd95fe9.png">

I even tried setting JVM options in docker-compose file but still its not working.

<img width="541" alt="screen shot 2017-07-19 at 2 10 27 pm" src="https://u

[2017-07-20 04:19] jonbrouse commented on #22
I will take a look at this in a

[2017-07-20 04:19] jonbrouse commented on #22
I will take a look at this tomorrow morning

[2017-07-20 19:12] jonbrouse commented on #22
see issue #23

[2017-07-20 19:12] #22 closed

[2017-07-20 19:29] jonbrouse commented on #23
Ice is launched via grails and so the entrypoint isn't `java` which is why adding the options to the `command` didn't work.

[code]
The Dockerfile contains `ARG JAVA_OPTS`. You can pass in options via the `JAVA_OPTS` environment variable.

[code]
You might need quotes around the actual options.

[2017-07-26 20:30] palmerit commented on #23
I was running into the same issue, and had previously tried both of the workarounds listed here.  neither worked.   This did:

`  environment:
    - GRAILS_OPTS=-server -Xmx4G -Xms1G -Dfile.encoding=UTF-8`

Let me know if it helps.

[2017-07-30 17:16] owenmorgan opened #24 "Error Script not found: #"
Hello, when I docker-compose up - i get -

[code]

any ideas please?

[2017-07-30 20:19] #24 closed

[2017-08-03 04:16] utsav2307 commented on #23
Yes, this worked, thanks a lot

[2017-08-04 03:23] #23 closed

[2017-10-06 21:10] Boojs opened #28 "ERROR BootStrap - Startup failed - Null Pointer Exception"
Hi there,

I am having this issue constantly while trying to run this app. I had it running previously just fine but now it just wont. Using this repo

The error that keeps coming up is:

`2017-10-06 21:06:42,308 [localhost-startStop-1] INFO  BootStrap  - Starting ice...
| Error java.lang.NullPointerException
| Error         at java.util.Hashtable.put(Hashtable.java:459)
| Error         at java.ut

[2017-10-17 15:43] cdmicacc commented on #28
I'm also seeing this issue.

[2017-10-17 16:05] kamal2222ahmed opened #29 "ICE access data in S3"
I have -
Access Key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Secret Key: yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
bucketname: arn:aws:s3:::unique_bucketname

All cost data goes to a combined billing report in S3.  I have access to the s3 bucket containing the files.
based on the Access and Secret key.
Given the s3 bucket ARN, can ICE extract the data? Or it needs the account ID, or something e

[2017-10-17 16:30] kamal2222ahmed commented on #29
with the above config, i get error:
ice_1    | 2017-10-17 12:29:48,995 [localhost-startStop-1] INFO  BootStrap  - Starting ice...
ice_1    | | Error com.amazonaws.services.s3.model.AmazonS3Exception: Access Denied (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied; Request ID: 0F2932B079F13B51), S3 Extended Request ID: B2tWfSaWWS2GR5WYME1YbfkDPP/DUNioD7nT4VqlQLWy8QWvBU4ZrVkNbuxWAGuLs0

[2017-10-17 16:49] #28 closed

[2017-10-17 17:53] cdmicacc commented on #28
Yup, that was also my issue.  Setting that property resolved it.  Thanks!

[2017-10-17 19:05] kamal2222ahmed commented on #29
here is my ice/assets/ice.properties

# whether or not to start processor
ice.processor=true

# whether or not to start reader/UI
ice.reader=true

# whether or not to start reservation capacity poller
ice.reservationCapacityPoller=false

# default reservation period, possible values are oneyear, threeyear
ice.reservationPeriod=threeyear
# default reservation utilization, possible values are LIGHT,

[2017-10-17 19:22] kamal2222ahmed commented on #29
also, when i try to access my account at  https://console.aws.amazon.com/billing/home?#/account
i get error:
You Need Permissions
You don't have permission to access billing information for this account. Contact your AWS administrator if you need help. If you are an AWS administrator, you can provide permissions for your users or groups by making sure that (1) this account allows IAM and federated

[2017-10-17 22:06] nfonrose commented on #29
Hi @kamal2222ahmed <https://github.com/kamal2222ahmed>,

The error message says that Ice fails to download reservation price.

Yes. But Ice needs to have the IAM credentials (AK/SK) for an IAM user that
has the rights specified in the documentation
<https://github.com/Teevity/ice>. Check section "Example IAM Permissions"
on this page and ensure that your IAM user has the appropriate rights.

Nicol

[2017-10-20 17:19] kamal2222ahmed commented on #29
Hi Nicolas,
Now that i have resolved most of the issues i started getting the following error->

| 2017-10-20 13:12:39,175 [com.netflix.ice.processor.BillingFileProcessor] INFO  processor.BillingFileProcessor  - trying to download cloudcheckr/NNNNNNNNNN-aws-billing-detailed-line-items-with-resources-and-tags-2016-10.csv.zip...
ice_1    | 2017-10-20 13:12:39,152 [main] INFO  http11.Http11NioProtoco

[2017-10-21 14:40] kamal2222ahmed commented on #29
i have tried on another host setup for docker, and i got:

Server running. Browse to http://localhost:8080/ice
ice_1    | | Error 2017-10-21 10:07:10,610 [com.netflix.ice.processor.BillingFileProcessor] ERROR processor.BillingFileProcessor  - Error reading from file lastProcessMillis_2016-10
ice_1    | Message: The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: No

[2017-10-21 16:40] nfonrose commented on #29
Hi,

Are you sure local-ice-xxxxxxx-work-bucket.s3-us-east-1.amazonaws.com matches a real bucket on your account ?

Is it the exact name ? Good region ?

Do you manage to list the content of this bucket using the AWS CLI with the same credentials Ice is using ?

Nicolas

Sent from my phone

[2017-10-22 16:09] kamal2222ahmed commented on #29
Hi Nicolas,
Good point, i just tried:
 $aws s3 ls repl-xxxxxxxxxxxx-backup

stdout:
                           PRE cloudcheckr/
                           PRE ice/
2017-10-20 18:08:49          4 cloudcheckrreservation_prices.threeyear.FIXED
2017-10-20 18:08:49     529521 cloudcheckrreservation_prices.threeyear.HEAVY
2017-10-20 18:08:49          4 cloudcheckrreservation_prices.threeyear.LIGHT
2017-

[2017-11-02 07:24] kamal2222ahmed opened #31 "Failed to read artifact descriptor for xalan:serializer:jar:2.7.1"
after resolving other issues, i am getting the following error consistently:

ice-1.1.2/wrapper/springloaded-1.2.1.RELEASE.jar
| Loading Grails 2.4.4
| Configuring classpath
| Error Resolve error obtaining dependencies: Failed to read artifact descriptor for xalan:serializer:jar:2.7.1 (Use --stacktrace to see the full trace)
| Error Required Grails build dependencies were not found. This is normal

[2018-01-17 20:59] Juberstine commented on #29
FWIW, I fixed the issue by setting ice.billing_s3bucketregion=

Yes, thats right blank.

The problem seems to be when you define a region, it uses the URL of epl-XXXXXXXXXXX-YYYYY.s3-us-east-1.amazonaws.com, it should be epl-XXXXXXXXXXX-YYYYY.s3.us-east-1.amazonaws.com

Notice that it's doing s3-us-east-1 instead of s3.us-east-1. Setting it to a blank var makes it work fine in us-east-1 since s3.a

[2018-01-17 21:00] Juberstine commented on #29
@kamal2222ahmed Can you confirm if there is a bug that's adding a dash instead of a period?

[2018-01-17 21:03] Juberstine commented on #29
After figuring that out on my own, the issue is confirmed:

https://github.com/Teevity/ice/issues/277

[2018-01-18 00:46] cleitondomazak opened #32 "Not working, nginx page error"
I'm running the last docker-compose, on Ubuntu and MacOS, with Docker 17.12 and Compose 1.18, in both SO.

But when I access http://localhost/ice/dashboard/summary a Nginx page error happen.

![screen shot 2018-01-17 at 22 31 27](https://user-images.githubusercontent.com/8502873/35074688-357792b4-fbd6-11e7-90aa-bf56c3842890.png)

I check the container output, and no errors happen.

Even when I exe

[2018-02-07 19:05] aditi10 commented on #32
It may be because your ice docker container is still executing in the background. Nginx is unable to redirect http://localhost:80 to /ice/dashboard/summary. So let your ice docker execute successfully then you may not get this error.

[2018-02-08 20:30] jonhadfield commented on #32
Try adding this to your ice.properties file:
`ice.billing_s3bucketregion=<your bucket region>`

I had the same issue and found an update to ice itself introduced that requirement:
https://github.com/Teevity/ice/issues/271

[2018-02-22 19:13] benwaffle opened #33 "NoClassDefFoundError: com/googlecode/concurrentlinkedhashmap/ConcurrentLinkedHashMap$Builder"
Is this a problem with Ice or the Docker image? Any help would be appreciated

[code]

[2018-02-28 20:26] cleitondomazak commented on #32
I added this parameter @jonhadfield .

![image](https://user-images.githubusercontent.com/8502873/36811353-37c73c44-1cac-11e8-8f55-5580c9b0d36e.png)

I did another test, changing the ICE_VERSION to 1.1.1(in Dockerfile), and sound OK with this version.

[2018-03-07 08:23] yevgeniyo opened #34 "AWS report format"
Hi,

You re asking for format: <accountid>-aws-billing-detailed-line-items-<year>-<month>.csv.zip

From AWS documentation I can see that reports are stored like:
<example-report-prefix>/<example-report-name>/20160101-20160131/<123456789>/<example-report-name>-<1>.csv.<zip>

1. The question is, how AWS can generate format you asking automatically?
2. After finishing of reports generating I got 4 fi

[2018-03-07 08:45] nfonrose commented on #34
Hello Yevgeniy,

What you are referring to are the CUR reports.

ICE does not support the CUR reports yet (this is coming soon).
For now, you need to active the Programmatic Billing Reports.

https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-reports-other.html

Nicolas

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics built on

[2018-03-07 09:45] yevgeniyo commented on #34
Hi Nicolas,

Appreciate your help, thank you

BR, Yevgeniy

[2018-03-07 14:30] jonbrouse commented on #34
Thank you @nfonrose

[2018-03-07 14:30] #34 closed

[2018-03-07 14:33] #32 closed

[2018-03-13 19:29] benwaffle commented on #33
didn't need to do that. it works now. thanks

[2018-03-13 19:29] #33 closed

[2018-04-17 06:50] peterchen3tw opened #35 "how to run ice container on kubernetes"
Hi Jonathon,

 I use "docker-compose up" command to run both containers of nginx and ice with docker-compose.yml on this repo.
it works fine for me. I also can login to ICE web UI.
I'd like to try  ice run on kubernetes...
I know there is a conversion tool for all things compose (namely Docker Compose) to container orchestrators
Kubernetes + Compose = Kompose
https://kubernetes.io/docs/tools/kompo

[2018-04-17 07:27] peterchen3tw commented on #35
BTW, when I use hostPath in yaml file(ice-deployment.yaml), and run "kubectl create -f ice-deployment.yaml" ,the error above was gone but got  errors below.
Any comment?

 ice-deployment.yaml
` volumeMounts:
        - mountPath: /opt/ice/src/java
          name: host-mount
      volumes:
      - name: host-mount
        hostPath:
          path: "/home/peter/docker-ice/ice/assets"
status: {}
`

`r

[2018-04-17 20:07] yevgeniyo opened #36 "Cant start web"
Getting these errors:

ice_1    | 2018-04-17 15:55:58,917 [main] INFO  http11.Http11NioProtocol  - Initializing ProtocolHandler ["http-nio-8080"]
ice_1    | 2018-04-17 15:55:58,937 [main] INFO  net.NioSelectorPool  - Using a shared selector for servlet write/read
ice_1    | 2018-04-17 15:55:58,951 [main] INFO  core.StandardService  - Starting service Tomcat
ice_1    | 2018-04-17 15:55:58,951 [main

[2018-04-18 10:35] yevgeniyo commented on #36
Hi Nicolas,

I have passed it, but now my dashboard is empty.
All data is stored under s3, but cant be shown via the dashboard.

No account, region, product, operation, usage type

Sorry for dummy questions =(

[2018-04-18 10:51] nfonrose commented on #36
Ok. In order to help, we need some more info about the execution that led
to this situation.
Can you aws s3 ls the content of:

   - your billing bucket
   - your ice working bucket

Sorry for dummy questions =(

No pb :-)

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics built on NetflixOSS
twitter - @nfonrose / @teevity

On Wed, Apr 18, 2018 at

[2018-04-18 13:00] yevgeniyo commented on #36
Hi Nicolas,
Thank you for quick responses, really appreciate it.
Bellow my configuration and list of objects inside of bucket:

List of bucket objects:

2018-03-08 18:12:30    4274154 123456789-aws-billing-detailed-line-items-2018-03.csv.zip
2018-03-08 18:12:45   23331936 123456789-aws-billing-detailed-line-items-with-resources-and-tags-2018-03.csv.zip
2018-03-08 18:12:40          4 aws-programmat

[2018-04-18 13:58] nfonrose commented on #36
You have forgotten the content  (list of files) inside your "ice working
bucket"

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics built on NetflixOSS
twitter - @nfonrose / @teevity

On Wed, Apr 18, 2018 at 3:00 PM, Yevgeniy Ovsyannikov <
notifications@github.com> wrote:

[2018-04-18 14:14] yevgeniyo commented on #36
i have the same bucket for this purpose.....should it be separate?

[2018-04-18 14:54] nfonrose commented on #36
Yes, it's much cleaner to use two separate buckets. Not sure this is the
cause of the issue, but it sure doesn't help

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics built on NetflixOSS
twitter - @nfonrose / @teevity

On Wed, Apr 18, 2018 at 4:14 PM, Yevgeniy Ovsyannikov <
notifications@github.com> wrote:

[2018-06-01 17:47] haroldwoo opened #37 "Similar issue to #32. Nginx page error when trying to access UI"
Hi,

I am having the same issue when running locally or on an EC2 instance.  When trying to load the UI I get the message:
[code]

The nginx container logs say:
[code]

But the ice container logs look fine and just repeat messages like:

2018-06-01 09:54:40,121 [localhost-startStop-1] INFO  basic.BasicReservationService  - Setting RI price for ap-south-1 HEAVY m5.12xlarge.windows 282304.0 10.742

[2018-06-04 16:08] haroldwoo commented on #37
Ok the issue here is related to this one https://github.com/Teevity/ice/issues/172

The processor is stuck in a loop of setting RI prices and doesn't finish.

2018-06-04 08:56:50,675 [localhost-startStop-1] INFO  basic.BasicReservationService  - Setting RI price for ap-south-1 HEAVY i2.2xlarge.others 9871.0 0.376
...

Setting ice.reservationCapacityPoller doesnt seem to help
# whether or not to st

[2018-08-06 15:10] david-dumas opened #38 "BootStrap - NPE error after `Reading tag.properties`"
Using image `jonbrouse/ice:latest` from a month ago with the following `ice.properties`:
[code]
I have a similar issue to #28
[code]
I can't find a way to debug this, my `ice.properties` didn't change, I just updated my IAM key/secret used in:
[code]

[2018-08-10 06:48] mmh commented on #38
We just hit an issue with the exact same Error after a redeploy of `jonbrouse/ice:latest` without any changes to the configuration.

[2018-08-10 08:08] david-dumas commented on #38
I solved this temporary by rebuilding the docker image with a Debian 8 base, IMO Alpine is too unstable:
[code]
But then I have java 8u111, it's a little late.

[2018-08-10 09:12] mmh commented on #38
Thanks @david-dumas
Based on that input I rebuild the container with just `openjdk:alpine` instead of `openjdk:8u131-jdk-alpine` to get a newer jdk version where the app can now start.

[2018-09-20 16:05] jonbrouse commented on #38
[Updated source image](https://github.com/jonbrouse/docker-ice/commit/d1f2403e04573ad3769fed32a0c796e0357cd05d)

[2018-09-20 16:05] #38 closed

[2018-09-20 16:07] jonbrouse commented on #36
No response.. closing

[2018-09-20 16:08] #36 closed

[2018-09-20 16:10] jonbrouse commented on #31
Were you able to resolve this issue?

[2018-09-20 16:11] jonbrouse commented on #29
Closing, bug in ice.

[2018-09-20 16:11] #29 closed

[2018-09-20 16:14] jonbrouse commented on #11
This should probably be a [teevity/ice issue](https://github.com/Teevity/ice/issues)

[2018-09-20 16:14] #11 closed

[2018-09-20 16:17] nfonrose commented on #29
We could add a condition so that, when people specify a region when the
bucket is us-east-1, it gets ignored when building the S3 endpoint.
But as @Juberstine was pointing out, user can also just leave the region
property empty in this case.

I guess a comment in the example configuration file could make this clearer.

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com -

[2018-09-20 16:19] nfonrose commented on #11
Yes, it's probably an Ice configuration file issue.

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics built on NetflixOSS
twitter - @nfonrose / @teevity

On Thu, Sep 20, 2018 at 6:16 PM Jonathon Brouse <notifications@github.com>
wrote:

[2018-09-24 14:29] jonbrouse opened #39 "Region documentation"
bucket is us-east-1, it gets ignored when building the S3 endpoint.
But as @Juberstine was pointing out, user can also just leave the region
property empty in this case.

I guess a comment in the example configuration file could make this clearer.

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics built on NetflixOSS
twitter - @nfonrose / @teevity

[2018-10-25 00:04] haghabozorgi commented on #35
I got this working by using `kompose convert docker-compose.yml` and it created 6 yaml files. Note: this was tested on aws eks cluster.
`
INFO Kubernetes file "ice-service.yaml" created
INFO Kubernetes file "nginx-service.yaml" created
INFO Kubernetes file "ice-deployment.yaml" created
INFO Kubernetes file "ice-claim0-persistentvolumeclaim.yaml" created
INFO Kubernetes file "nginx-deployment.yaml"

[2019-03-05 13:31] omerh commented on #35
Added a pull request now after testing and running it on AWS

https://github.com/jonbrouse/docker-ice/pull/40

[2019-05-01 23:56] #35 closed

[2019-07-03 14:08] fitchtravis opened #41 "Issues starting up."
I'm using Jim Roths forked version of this ...

when doing `docker-compose up` I get following error.

In the ice.properties, what should `ice.reader.localDir` and `ice.processor.localDir` be set to?

`ice_1    | | Error java.lang.ArrayIndexOutOfBoundsException: 0
ice_1    | | Error      at com.netflix.ice.processor.ProcessorConfig.processBillingDataConfig(ProcessorConfig.java:394)
ice_1    | | Er

[2019-08-28 13:12] n2aws opened #42 "Consider switching to jimroth/ice?"
Hello,

Teevity has stalled in developing/supporting ice.  Yesterday, they finally merged in a PR I created in 2017.. after I poked the ticket.

In the merge comment, they recommended I use a fork of their repo from jimroth, that is under heavy/active development.

That comment can be found here: https://github.com/Teevity/ice/pull/263#issuecomment-525638643

As a result, I'd recommend using jimro

[2019-09-17 21:10] agent462 commented on #41
This is likely something else in your configuration.  Share your ice.properties.

[2019-09-20 20:29] jonbrouse commented on #42
Thanks for the heads up. I’ll take a look at the fork.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-15 10:43] zhangsimingshannonai opened #43 "Question about Using AWS S3 in region "cn-northwest-1"(China)"
My S3 bucket is in AWS-CHINA, region is "cn-northwest-1", but I didn't find anything about this in the src, Is ice support china-region?

I'm started ice in kubernetes way.
**Here is my configmap-ice.yaml**
[code]

**Here is my deployment.yaml's env part**

[code]

**The error I met is**

[code]
It seems that ice is still connect to the default s3 region "us-east-1", where did I misconfig? Please

[2019-10-15 11:06] nfonrose commented on #43
Hi,

The question is Ice related (and not docker-ice) and it has received an
answer over there.

Nicolas

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics for AWS, GCP and Azure powered
by NetflixOSS Ice
twitter - @nfonrose / @teevity

On Tue, Oct 15, 2019 at 12:43 PM zhangsimingshannonai <
notifications@github.com> wrote:

[2019-10-15 11:58] #43 closed

[2019-10-16 02:56] zhangsimingshannonai opened #44 "what is ARG JAVA_OPTS？"
I want to rebuild the dockerimage in my situation.
But I don't know the ARG JAVA_OPTS in Dockerfile
Can you tell me?

[2019-10-16 03:10] #44 closed

[2020-01-07 22:10] Boojs opened #45 "AWS UnauthorizedOperation"
Hi,

Been using Teevity and moved over to using a dockerized container. Currently I'm having an issue with any AWS calls it seems but having a hard time tracking down which one exactly.

Any chance anyone could help out here?

`| Error 2020-01-07 21:45:30,727 [localhost-startStop-1] ERROR BootStrap  - Startup failed
Message: You are not authorized to perform this operation. (Service: AmazonEC2; St

[2020-01-08 08:11] nfonrose commented on #45
Hi,

We need a bit more info in order to be able to help you:

   - Where are you running this container? On a local machine? On an EC2
   instance? Somewhere else (Fargate, ...)?
   - Which mechanism are you using to provide AWS rights to your container (
   AWS AK/SK in the properties file, IAM Role, ...)?

And finally, you mentioned you have been using Teevity/Ice already.
In that previous setu

[2020-03-08 15:59] andrejmaya opened #47 "File not found in s3: lastProcessMillis"
Hi,

Great project! Really interessted to get it up & running. After a successful `docker up` the frontend doesn't shows any data and in the log I see this warning permanently:

`2020-03-08 16:45:37,851 [com.netflix.ice.reader.LastProcessedPoller] WARN  reader.LastProcessedPoller  - File not found in s3: lastProcessMillis_2020-03`

I filled out all the needed values in the `ice/assets/ice.properti

[2020-03-09 08:04] nfonrose commented on #47
Hi Andrej,

Do you have any files in the S3 working bucket?
There should be files generated by the backend.

One other question: do you already have files in your AWS billing bucket?

Nicolas

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics for AWS, GCP and Azure powered
by NetflixOSS Ice
twitter - @nfonrose / @teevity

On Sun, Mar 8, 2020 at 4:

[2020-03-12 11:41] andrejmaya commented on #47
Hi Nicolas,

Thanks for your reply. Yes, I have already some files in the `ice.work_s3bucketname`.

![ice-output](https://user-images.githubusercontent.com/2835964/76517949-8b993b00-645e-11ea-9377-10ab65a2a943.PNG)

I have also some files in my DBR bucket

![ice-dbr-bucket](https://user-images.githubusercontent.com/2835964/76518028-b08dae00-645e-11ea-9d6e-71bd84798308.PNG)

Do you have an idea?

R

[2020-03-29 15:30] andrejmaya commented on #47
Hi @nfonrose do you have an idea how I can debug it? I don't see any data in the frontend

![Screenshot 2020-03-29 at 17 30 11](https://user-images.githubusercontent.com/2835964/77853178-01353300-71e3-11ea-883b-c48430eb8e43.png)

[2020-03-30 08:11] nfonrose commented on #47
Hi Andrej,

We would need the logs to provide you with more help.

Or maybe you can create a trial account on https://teevity.com so that we
can better help you with the setup,
and then you can use the OSS version again once you know where the problems
are?

Nicolas

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics for AWS, GCP and Azure powered

[2020-04-12 09:26] bay1188 opened #48 "Issue on CUR lineitem process, ERROR"
all lineitems fail with following error.

ice_1    | | Error 2020-04-12 01:11:04,245 [pool-4-thread-1] ERROR processor.CostAndUsageReportProcessor  - m4lov5dsh5xxxuylutvqja7jkaxf37zf7zddvdfqwpxvgnnf5a,2020-04-11T16:00:00Z/2020-04-11T17:00:00Z,,AWS,Anniversary,xxxxxxxxx,2020-04-01T00:00:00Z,2020-05-01T00:00:00Z,xxxxxxx,Usage,2020-04-11T16:00:00Z,2020-04-11T17:00:00Z,AmazonVPC,USW1-VpcEndpoint-Hours

[2020-04-13 05:11] bay1188 commented on #48
Also worth to note, I tried teevity.com
but got following error.

Our server encountered a problem. Please report us this issue. (error code 500)
null

[2020-04-13 05:21] nfonrose commented on #48
Hi,

For the error with teevity.com, just drop us an
email at support@teevity.com and we will help you. It’s likely due to an
error with your bucket declaration.

Nicolas

Le lun. 13 avr. 2020 à 07:11, bay1188 <notifications@github.com> a écrit :

--
--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics for AWS, GCP and Azure powered
by NetflixOSS Ice

[2020-06-01 07:32] sayan-rudder opened #49 "NullPointerException reading ice.properties"
2020-06-01 03:29:50,750 [localhost-startStop-1] INFO  BootStrap  - Read ice.properties ...
| Error java.lang.NullPointerException
| Error 	at java.util.Hashtable.put(Hashtable.java:460)
| Error 	at java.util.Properties.setProperty(Properties.java:166)
| Error 	at java_util_Properties$setProperty$1.call(Unknown Source)
| Error 	at org.codehaus.groovy.runtime.callsite.CallSiteArray.defaultCall(CallS

[2020-06-01 07:39] sayan-rudder commented on #49
somewhat similar to #38  but on ice.properties

[2020-07-19 12:15] bloo0 opened #50 "ERROR BootStrap - Startup failed"
**I'm having errors below, not sure what to find:**

ice_1    | | Error java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
ice_1    | | Error      at java.util.LinkedList.checkElementIndex(LinkedList.java:555)
ice_1    | | Error      at java.util.LinkedList.get(LinkedList.java:476)
ice_1    | | Error      at com.netflix.ice.processor.ProcessorConfig.readBillingDataConfig(ProcessorConfig.java:5

[2020-12-08 15:39] slumbang129 commented on #50
I am also experiencing the same issue.  Not sure if this is the culprit

ice_1    | 2020-12-08 04:20:19,216 [localhost-startStop-1] INFO  core.StandardContext  - Unable to set the web application class loader property [clearReferencesStatic] to [false] as the property does not exist.
ice_1    | 2020-12-08 04:20:19,219 [localhost-startStop-1] INFO  core.StandardContext  - Unable to set the web appl

[2020-12-09 08:42] nfonrose commented on #50
Hello,

Hard to tell based on what you are sharing.
Do you have more error logs? Can you share more of how you start Ice? On an
AWS machine with an IAM role, on a local developer machine?

Nicolas

--
Nicolas Fonrose | Teevity | Founder
+33.6.61.35.43.31
https://teevity.com - Cloud Costs Analytics for AWS, GCP and Azure powered
by NetflixOSS Ice
twitter - @nfonrose / @teevity

On Tue, Dec 8, 2020

[2020-12-09 22:31] slumbang129 commented on #50
hi @nfonrose

I am using local running docker compose up.  I'm not using IAM role, Just using main account with access to the bucket.

I removed the account number on the logs..the only thing i didnt declare is role id or external id which i feel it doesn't need?

sherwinlumbang$ docker-compose up
Creating network "docker-ice_default" with the default driver
Creating docker-ice_ice_1 ... done
Crea